#error {
	color: red;
	width: 50%;
	margin: auto;
	padding: auto;
	text-align: center;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #4d5a66;
	background-color: rgba(110, 228, 255, 0.861);
	background-size: cover;
}

.main-container{
	font-family: 'Montserrat', sans-serif;
	color: #4d5a66;
	background-color: rgba(25, 3, 222, 0.861);
	background-size: cover;
}
h1 {
	text-align: center;
	margin: 0.5rem auto;
	font-weight: 800;
	font-size: 40px;
	color: #000000;
	padding-bottom: 1rem;
}



form {
	max-width: 500px;
	margin: 2rem auto;
	margin-bottom: 0px;
	background-color: aliceblue;
	border-radius: .5rem;
	background-size: cover;
}

p {
	text-align: center;
	font-size: large;
}

#switch {
	display: block;
	color: rgba(3, 3, 123, 0.861);
	text-align: center;
	padding: 1rem;
}



input {
	display: block;
	font-size: 16px;
	width: 50%;
	margin: 2rem auto;
	height: 2rem;
}

.sub-button, .delete-group  {
	overflow: hidden;
	font-size: 16px;
	display: block;
	width: 30%;
	margin: 20px auto;
	padding: 6px 6px;
	border-radius: 5px;
	color: #ffffff;
	background-color: rgba(0, 0, 211, 0.861);
	cursor: pointer;
	text-align: center;
	transition: all 250ms;
}

.delete-group {
	margin-top : 35%;
	background-color: rgba(211, 0, 0, 0.861);
}

a {
	list-style: none;
	color: rgb(255, 255, 255);
}


.footer {
	margin: auto;
	max-width: 500px;
	background-color: aliceblue;
	text-align: center;
	border-radius: .5rem;
}

.footer-links {
	padding: 1%;
	padding: 2rem 0;
}

.footer-heading{
	color:red;
}

li {
	display: inline;
	padding: 1rem;

}

img {
	width: 3rem;
	height: 3rem;

}


.container-main {

	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-container {
	width: 60%;
	background-image: linear-gradient(rgb(0, 0, 0), rgb(26, 17, 17));
	color: white;
	border: 2px solid black;
	border-radius: 10px;
	overflow-y: auto;
	flex-shrink: 0;
}

h3 {
	text-align: center;
	color: black;
}

.group-container {
	background-image: linear-gradient(rgb(8, 175, 38), rgb(7, 192, 50));
	border-radius: 10px;
	width: 20%;
	overflow-y: auto;
	flex-shrink: 0;
	text-align: center;
}

.chat-container,
.group-container {
	height: 90vh;
}


.chat-head {
	height: 15vh;
	background-image: linear-gradient(rgb(255, 8, 8), rgb(250, 25, 25));
}

.message-left {
	background-color: rgb(0, 136, 255);
	width: 20%;
	border-radius: 8px;
	padding: 10px;
	font-size: smaller;
	margin: 15px;
	float: left;
	clear: both;
	overflow: hidden;
}

.message-right {
	background-color: rgb(0, 136, 255);
	width: 20%;
	border-radius: 8px;
	padding: 10px;
	margin: 15px;
	float: right;
	clear: both;
	font-size: smaller;
	overflow: hidden;
}


.send-message{
	display: inline-block;
	visibility:hidden ;
	position : absolute;
	bottom: 8.2%;
	display: flex;
}

#messageInp {
	margin: auto;
	border-radius: .5rem;
	width: 55vw;
}

.send-message-btn {
	height: 2.2rem;
	width: 10%;
	margin: 5px;
	font-size: small;
	padding: 3px;
	border-radius: 8px;
	background-color: black;
	color: white;
}

.name-span {
	display: block;
	text-align: left;
	font-size: small;
	padding: 0;
	margin: 0;
	color: red;
}

.time-span {
	display: block;
	text-align: right;
	font-size: small;
	margin: 0;
	padding: 0;
	color: black
}

.group-list {
	width: 100%;
	height: 1.5rem;
	margin-bottom: 1px;
	font-size: large;
	background-color: rgb(255, 255, 255);
	border-radius: 2px;
	cursor: pointer;
	border: none;
	overflow: hidden;
}

.add-group{
	position: absolute;
	bottom: 20%;
	left : 15%;
	overflow: hidden;
	font-size: 16px;
	display: block;
	padding : 1rem;
	border-radius: 5px;
	color: #ffffff;
	background-color: rgba(255, 4, 4, 0.861);
	cursor: pointer;
	text-align: center;
	transition: all 250ms;
}

.show-group-element {
	width: 90%;
	text-align: left;
	height: 1.5rem;
	margin: 0;
	padding: 0;
	display: block;
	color: rgb(8, 0, 255);
	font-size: large;
	background-color: inherit;
	overflow: hidden;
}

.join-btn{
	float: right;
}

.group-it {
	width: 70%;
	margin: 5px;
	font-size: small;
	padding: .5rem;
	border-radius: 8px;
	background-color: black;
	color: white;
}

h2{
	text-align: center;
	color : white;
}


.container-main-admin--approve{
	width:30%;
	background-image: linear-gradient(rgb(0, 0, 0), rgb(26, 17, 17));
	color: white;
	border: 2px solid black;
	border-radius: 10px;
	overflow-y: auto;
	flex-shrink: 0;
	height: 90vh;
	margin-right: 1rem;
}

.container-main-admin--remove {
	width: 30%;
	background-image: linear-gradient(rgb(0, 0, 0), rgb(26, 17, 17));
	color: white;
	border: 2px solid black;
	border-radius: 10px;
	overflow-y: auto;
	flex-shrink: 0;
	height: 90vh;
}

.member-container{
	text-align: left;
}

.member-container-list{
	display: block;
	margin :5px;
}

.member-container-btn{
	background-color: red;
	color: #ffff;
	float:right;
}

.add-user-form{
	background-color: inherit;
}
